{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Miner{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Miner Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="enabled">Enabled?</label>
    <input type="radio" id="yes" name="enabled" value="True">Yes</input><br>
    <input type="radio" id="no" name="enabled" value="False">No</input><br>
    <br>
    <input type="submit" value="Save">
  </form>
{% endblock %}