{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ miner['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Miner</label>
    <input name="name" id="name"value="{{ request.form['name'] or miner['name'] }}" required>
    <label for="enable">Enabled?</label>
    <input type="radio" id="yes" name="enabled" value="1">
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="enabled" value="0">
    <label for="no">No</label><br>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('index.delete', id=miner['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}